$main-color: #3CCACE;
$white: #ffffff;
$shadow-gray: #7f7878;
$border-white: #f5f5f5;
$border-gray: #cccccc;
$current-orange: #FFA500;
$line-color: #efefef;
$line-style: 0 solid #efefef;
$background-gray: #f8f8f8;
$main-font: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
$show-font: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
$dark-gray: #696969;
$red: #ff0211;