.allall {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);
  &__mini {
    width: 700px;
    margin: 0 auto;
    .header-furima {
      height: 130px;
      text-align: center;
      .h1 {
        height: 50px;
        padding: 40px 0 0;
      }
    }
  }
  .bigbigall {
    height: calc(100% - 130px);
    display: block;
    &__in{
      width: 700px;
      height: 885px;
      margin: 0 auto;
      background: white;
      &--first {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        padding: 32px;
        width: 600px;
        height: 35px;
      }
      .big-second {
        padding: 32px 16px;
        border-top: 1px solid #f5f5f5;;
        &__in {
          max-width: 343px;
          margin: 0 auto;
          &--in {
            display: flex;
            margin-left: 16px;
            &--leftbox {
              height: 80px;
              width: 80px;
              min-width: 80px;
              display: flex;
              justify-content: center;
              align-items: center;
              .h{
                height: 80px;
                width: 80px;
                object-fit: cover;
              }
            }
            &--rightbox{
              &--top{
                font-size: 20px;
                font-weight: bold;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .bigbigcontents {
        padding: 32px 16px;
        border-top: 1px solid #f5f5f5;
        &__in {
          width: 343px;
          margin: 0 auto;
          .big-third__in {
            display: flex;
            justify-content: space-between;
            &--left {
              font-weight: bold;
            }
            &--right {
              font-weight: bold;
              font-size: 20px;
              &__fee{
                font-weight: normal;
                font-size: 12px;
              }
            }
          }
          .buyPointbox {
            color: #888;
            margin: 24px 0 32px;
          }
          .pay-method {
            border-top: 1px solid #f5f5f5;
            padding: 32px 0;
            &__in {
              max-width: 343px;
              margin: 0 auto;
              &--link {
                color: #0099e8;
                text-decoration: none;
              }
              &--link:hover {
                text-decoration: underline;
              }
                &--infotext {
                  text-align: left;
                  margin: 8px 0 0;
                  font-size: 14px;
                }
              }
            }
          }
          .userInfo {
            padding: 32px 0;
            border-top: 1px solid #f5f5f5;
            .userInfo__in {
              &--top {
                display: flex;
                &-right {
                  color: #0099e8;
                  text-decoration: none;
                  padding-left: 195px;
                }
                &-right:hover {
                  text-decoration: underline;
                }
              }
              .userInfo__in--address {
                margin-top: 8px;
                margin-bottom: 30px;
              }
            }
          }
              .buybuycontents {
                border-top: 1px solid #f5f5f5;
                padding-top: 65px;
                text-align: center;
                .buybuycontents__btn {
                  display: block;
                  width: 100%;
                  line-height: 48px;
                  border: 1px solid #888;
                  background: #888;
                  color: #fff;
                }
              } 
        }
      }
  }
  .footerall {
    padding-top: 60px;
    text-align: center;
  }
}