.goods-list{
  background-color: $background-gray;
  font-family: $main-font;
  &__title{
    width: 100vw;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 60px;
    &--black{
      font-size: 26px;
    }
    &--blue{
      color: $main-color;
      font-size: 24px;
    }
  }
  &__contents{
    width: 780px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 60px;
    flex-wrap: wrap;
    .goods-content{
      background-color: $white;
      display: block;
      width: 220px;
      margin: 0 20px 20px;
      &__image{
        width: 220px;
        height: 150px;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;
        &--url{
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        &--sold{
          background-color: $main-color;
          color: $white;
          font-size: 12px;
          transform: rotate(-45deg);
          position: absolute;
          bottom: 12px;
          right: -27px;
          width: 100px;
          text-align: center;
        }
      }
      &__box{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        color: black;
        &--left{
          &--bottom{
            font-size: 10px;
          }
        }
        &--right{
          display: flex;
          align-items: center;
          &--icon{
            font-size: 14px;
            margin-right: 5px;
          }
        }
      }
      &:hover{
        opacity: 0.5;
      }
    }
  }
}
