.body {
  font-family: $show-font;
  margin: 0;
  padding: 0;
  .sub {
    width: 100%;
    position: relative;
    padding: 0 60px;
    border-top: 1px solid #eee;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.16);
    box-sizing: border-box;
    .sub-main {
      width: 100%;
      padding: 17px 0 16px;
      max-width: 1040px;
      margin: 0 auto;
      font-size: 14px;
      &__categories {
        display: inline-block;
        padding: 0 10px 0 0;
        &--name {
          font-weight: bold;
          display: inline-block;
        }
      }
      &__icon {
        display: inline-block;
        padding: 0 10px 0 0;
      }
      .a {
        text-decoration: none;
        color: #333
      }
    }
  }
  .main {
    background-color: $background-gray;
    box-sizing: border-box;
    &__show {
      padding: 40px;
      margin: 0 auto;
      .main-content {
        width: 700px;
        margin: 0 auto;
        &__top {
          .goodsbox {
            background-color: $white;
            padding: 24px 40px 40px;
            &__name {
              text-align: center;
              font-size: 24px;
              font-weight: bold;
            }
            .picture {
              margin: 16px 0 0;
              .goods-content__image--url {
                width: 600px;
              }
              .picture-sub {
                display: flex;
                flex-wrap: wrap;
                .picturesub--one {
                  display: inline-block;
                }
              }
            }
            .goodsbox__price {
              margin: 24px 0 24px;
              text-align: center;
              display: flex;
              flex-direction: column;
              &--money {
                font-size: 46px;
                font-weight: bold;
                margin: 0 10px 0 0;
              }
              &--in {
                margin: 0;
                padding: 0;
                &--taxincluded {
                  font-size: 16px;
                }
                &--postageincluded {
                  font-size: 16px;
                }
              }
            }
            .item-buy-btn {
              font-size: 24px;
              line-height: 60px;
              display: block;
              margin-top: 16px;
              background: #ea352d;
              color: #fff;
              text-align: center;
              font-weight: 600;
            }
            .goods--detail {
              font-size: 18px;
              margin-bottom: 30px;
              word-wrap: break-word;
            }
            .table {
              margin-bottom: 20px;
              &__body {
                width: 100%;
                border-spacing: 0;
                &--box {
                  width: 100%;
                  &--line {
                    &--headline {
                      width: 20%;
                      background-color: #eee;
                      font-weight: 400;
                      padding: 8px;
                      border: 1px solid #dedede;
                      font-size: 14px;
                      text-align: center;
                    }
                    &--item {
                      width: 61%;
                      padding: 15px 15px;
                      border: 1px solid #dedede;
                      font-size: 14px;
                      &--color {
                        color: $main-color;
                      }
                    }
                  }
                }
              }
            }
            .option-area {
              display: flex;
              justify-content: space-between;
              &__left {
                margin: 10px 0 0;
                display: flex;
                &--button {
                  margin-right: auto;
                  padding: 8px 10px;
                  border: 1px solid #ffb340;
                  color: $main-color;
                  border-radius: 40px;
                  cursor : pointer;
                  display: flex;
                  &__image{
                    width: 18px;
                    height: 18px;
                    padding-top: 3px;
                  }
                  p {
                    margin-left: 10px;
                  }
                }
              }
              &__right {
                margin: 10px 0 0;
                &--button {
                  font-size: 14px;
                  .flag {
                    padding: 6px 10px;
                    display: inline-block;
                    border-radius: 4px;
                    color: #333;
                    border: 1px solid #333;
                    text-decoration: none;
                  }
                }
              }
            }
            .exhibitor-box__update {
              font-size: 24px;
              line-height: 60px;
              display: block;
              margin-top: 16px;
              background: #ea352d;
              color: #fff;
              text-align: center;
              font-weight: 600;
            }
            .exhibitor-box__delete {
              font-size: 24px;
              line-height: 60px;
              display: block;
              margin-top: 16px;
              background: #ea352d;
              color: #fff;
              text-align: center;
              font-weight: 600;
            }
          }
          .exhibitor-box{
            background-color: $white;
            margin: 10px 0;
            padding: 24px;
            &__update{
              display: block;
              text-align: center;
              height: 50px;
              line-height: 50px;
              color: $white;
              background-color: $main-color;
              margin:0 40px 20px;
              &:hover{
                opacity: 0.9;
              }
            }
            &__delete{
              display: block;
              text-align: center;
              height: 50px;
              line-height: 50px;
              color: $white;
              background-color: $red;
              margin:0 40px;
              &:hover{
                opacity: 0.9;
              }
            }
          }
          .commentbox {
            padding: 24px;
            background-color: $white;
            margin: 10px 0;
            text-align: center;
            .comment {
              padding: 10px;
              width: 600px;
              min-height: 104px;
            }
            .caution {
              padding: 8px;
              background-color: $background-gray;
              margin: 10px 0;
              text-align: left;
            }
            .btn {
              line-height: 48px;
              background-color: $main-color;
              border: 1px solid $main-color;
              color: $white;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
        .links {
          list-style: none;
          display: flex;
          justify-content: space-between;
          &__left {
            &--link {
              text-decoration: none;
              color: $main-color;
            }
          }
          &__right {
            &--link {
              text-decoration: none;
              color: $main-color;
            }
          }
        }
        .more-item {
          margin: 24px 0 8px;
          &__link {
            margin: 24px 0 8px;
            color: $main-color;
            text-decoration: none;
            font-weight: bold;
            font-size: 22px;
            position: relative;
          }
        }
      }
    }
  }
  .boxbody{
    display: block;
    background-color: $main-color;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text{
      color: $white;
      font-size: 18px;
      margin: 0 auto 5px;
    }
    &__image{
      width: 55px;
    }
    &:hover{
      opacity: 0.9;
    }
  }
}