.header{
  max-width: 1160px;
  width: 100vw;
  height: 110px;
  margin: 0 auto;
  &__top-contents{
    height: 50px;
    padding: 15px 60px 5px;
    display: flex;
    justify-content: space-between;
    .title-logo{
      margin-right: 30px;
    }
    .search{
      width: 100%;
      margin-top: 5px;
      height: 36px;
      display: flex;
      &__field{
        width: calc(100% - 36px);
        height: 36px;
        line-height: 36px;
        box-sizing: border-box;
      }
      &__btn{
        &--submit{
          width: 36px;
          height: 36px;
          border: none;
          background-color: $main-color;
          background-image: image-url("icon/icon-search_1.png");
          background-repeat: no-repeat;
          background-size: 15px 15px;
          background-position: center;
          cursor : pointer;
        }
      }
    }
  }
  &__bottom-contents{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 60px;
    font-family: $main-font;
    &--left{
      display: flex;
      .pulldown-list{
        font-size: 14px;
        width: 115px;
        line-height: 25px;
        position: relative;
        .hidden{
          display: none;
        }
        &__link{
          display: block;
          &:hover{
            color: $current-orange;
          }
        }
      }
        .category-list{
          position: absolute;
          left: 0;
          top: 40px;
          z-index: 1;
          height: 665px;
          background-color: $white;
          &__item{
            width: 200px;
            line-height: 38px;
            background-color: $white;
            padding-left: 5px;
            &--link{
              display: block;
              &:hover{
                color: $current-orange;
              }
            }
            .second-category-list{
              position: absolute;
              left: 200px;
              top: 0;
              height: 665px;
              background-color: $white;
              border-left: 1px solid $border-white;
              &__item{
                width: 200px;
                line-height: 35px;
                background-color: $white;
                padding-left: 5px;
                &--link{
                  display: block;
                  &:hover{
                    color: $current-orange;
                  }
                }
              .third-category-list{
                position: absolute;
                left: 200px;
                top: 0;
                height: 665px;
                background-color: $white;
                border-left: 1px solid $border-white;
                &__item{
                  width: 250px;
                  line-height: 32px;
                  background-color: $white;
                  padding-left: 5px;
                  &--link{
                    display: block;
                    &:hover{
                      color: $current-orange;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &--right-login{
      display: flex;
      width: 260px;
      justify-content: space-between;
      .user-box{
        display: block;
        font-size: 14px;
        line-height: 25px;
      }
    }
    &--right-logout{
      display: flex;
      width: 155px;
      justify-content: space-between;
      .user-box{
        display: block;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}