.header{
  max-width: 1160px;
  width: 100vw;
  height: 110px;
  margin: 0 auto;
  &__top-contents{
    height: 50px;
    padding: 15px 60px 5px;
    display: flex;
    justify-content: space-between;
    .title-logo{
      margin-right: 30px;
    }
    .search{
      width: 100%;
      margin-top: 5px;
      height: 36px;
      display: flex;
      &__field{
        width: calc(100% - 36px);
        height: 36px;
        line-height: 36px;
        box-sizing: border-box;
      }
      &__btn{
        background-color: #3CCACE;
        width: 36px;
        height: 36px;
        &--icon{
          height: 20px;
          line-height: 36px;
          margin: 8px;
        }
        &--submit{
          display: none;
        }
      }
    }
  }
  &__bottom-contents{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0 60px;
    font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif;
    &--left{
      display: flex;
      .pulldown-list{
        color: #333;
        font-size: 14px;
        width: 115px;
        line-height: 25px;
        &:hover{
          color: orange;
        }
      }
    }
    &--right{
      display: flex;
      width: 155px;
      justify-content: space-between;
      .user-box{
        display: block;
        text-decoration: none;
        color: #333;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}