.all
  .header-mercari
    .h1
      = link_to  root_path, class: "title-logo" do
        = image_tag("https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "title-logo", width: "140px")
  .main-all
    .main-all-next
    
            
